<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3 text-center mt-5">
    <%= search_form_for(@search, url: admin_authors_path, method: :get, class: 'row g-3') do |f| %>
      <div class="col-md-10">
        <%= f.search_field :name_cont, placeholder: "Search authors by name", class: 'form-control m-2' %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "ðŸ”", class: 'btn btn-primary m-2' %>
      </div>
    <% end %>
  </div>

  <div id="authorsTab">
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th><%= sort_link @search, :name, "Name" %></th>
          <th class="col-2">#</th>
        </tr>
      </thead>
      <tbody id="authorsList">
        <%= render 'list', authors: @authors %>
      </tbody>
    </table>
  </div>
  
  <div class="actions">
    <%= link_to "New Author", new_admin_author_path, class: 'btn btn-primary m-2' %>
  </div>
  <hr>
</div>
